/*
 * timeline ul li css style
 */

@mixin transition($time: 0.2s){
 -webkit-transition: all $time ease;
  -moz-transition:   all $time ease;
    -o-transition:   all $time ease;
       transition:   all $time ease;
}

@mixin radius-all($radius: 5px){
    -webkit-border-radius: $radius;
     -moz-border-radius:   $radius;
          border-radius:   $radius;
}

.link a {
  padding: 5px;
  display: inline-block;
  position: relative; // 給偽元素計算位置用
  font-size: 3em;
  color: white;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute; // 指定位置
    bottom: 0; // 指定位置
    left: 50%; // 指定位置，置中用
    transform: translateX(-50%); //置中用
    width: 100%; // 先設定寬度 100%，這樣 Link 有多長線就會有多長
    max-width: 0px; // 再強制 max-width 為 0px
    height: 3px;
    background-color: yellow;
    transition: all 0.5s ease; // 動態效果
  }

  &:hover {
    &:after {
      max-width: 100%; // 解放 max-width！
    }
  }
}

$line-color: #000;
$line-color-hover: cornflowerblue;
$item-title_font-color: $line-color;
$item-title_font-color-hover: $line-color-hover;

$item-num_font-color: #969696;
$item-num_font-color-hover: #000;


/* 動態效果 */
.flow > ul li,
.flow > ul li .item-num,
.flow > ul li .item-title{
  @include transition;
}


.flow ul{
   height: 100px;
}


.flow > ul li{
  position: relative;
  float: left;
  margin-top: 40px;
  width: 180px;
  height: 12px;
  cursor: pointer;
  border-bottom: 4px solid $line-color;

  a{
    text-decoration: none;
  }

  /* 滑過效果 */
  &:hover, .active{
    border-bottom: 4px solid $line-color-hover;
  }

  /* 品項編號 */
  .item-num{
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -17px;
    width:    35px;
    height: 30px;
    line-height: 30px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    background: $line-color;
    color: $item-num_font-color;

    @include radius-all(50%);
  }

  &:hover .item-num,
  .active .item-num{
    top: -5px;
    // width: 30px;
    // height: 30px;
    background: $line-color-hover;
    color: $item-num_font-color-hover;
  }


  /* 品項敘述 */
  .item-title{
    position: absolute;
    top: -25px;
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: $item-title_font-color;
  }

  &:hover .item-title,
  .active .item-title{
    top: -30px;
    color: $item-title_font-color-hover;
  }
}